<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="style/base.css">
    <script src="js/echarts.js"></script>
    <script src="js/essos.js"></script>
    <script src="js/china.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- 开屏画面 -->
    <header>
        <div id="cover" class="cover">
            <div class="invisible" id="hd"> <!-- 这里可以换图-->
            </div>
        </div>
    </header>

    <!-- 导语 -->
    <article id="part-Zero">
        <div class="part1 chat">
            <div class="chat-right">
                <p class="text-1">
                    “老同学你也来喝喜酒了啊，好巧好巧。”
                </p>
            </div>
            <div class="chat-right">
                <p class="text-1">
                    “你听说了没？小赵彩礼只收了1万1啊，而且房子都没拿到一套。”
                </p>
            </div>
            <div class="chat-left">
                <p class="text-1">
                    “不至于吧？她那么好的条件，才收到这么点。”
                </p>
            </div>
            <div class="chat-right">
                <p class="text-1">
                    “要不说她傻呗，看起来满不在乎，都被我们笑话好几天了。”
                </p>
            </div>
            <div class="chat-left">
                <p class="text-1">
                    “你可别说，我好多朋友都这样，彩礼算不了什么，小两口同心协力才是最重要的。”
                </p>
            </div>
            <div class="chat-right">
                <p class="text-1">
                    “你还是太年轻，彩礼可代表着男方的重视程度，说不定她婆婆偷偷觉得她是廉价货呢。”
                </p>
            </div>
            <div class="chat-right">
                <p class="text-1">
                    “咱班班长小吴你记得不？她前一阵子因为彩礼的事儿差点被退婚。"
                </p>
            </div>
            <div class="chat-left">
                <p class="text-1">
                    “她还有这事儿？她不是也下个月办酒席吗。”
                </p>
            </div>
            <div class="chat-right">
                <p class="text-1">
                    “得亏媒人给力，调解了半个月呢。男方最后给了88万现金和一套大平层，可给我羡慕的。”
                </p>
            </div>
            <div class="chat-left">
                <p class="text-1">
                    “我怎么听说房子还是男方借钱买的？这样真的有必要吗？”
                </p>
            </div>
            <div class="chat-left">
                <p class="text-1">
                    “别管那么多了，咱快出门吧，车队要走了。”
                </p>
            </div>
        </div>
        <div class="part1 text-background">
            <div class="text-background">
                <div class="text-view">
                    <p class="text-2">
                        噼里啪啦的礼炮声环绕在江苏一座小村庄上空，赵文淑提着裙摆小心翼翼地挪到了接亲队伍的第一辆宝马车前，生怕一地的鞭炮与烟头弄脏了自己精心挑选的昂贵婚纱。<br>
                    </p>
                    <p class="text-2">
                        而此刻在宴席的后场，伴娘们正实时统计着份子钱的数目。象征着祝福的份子钱聚少成多，它们与银行卡里早已打入的一万一千元彩礼一同构成了新家庭的“启动资金”。赵文淑规划着这些钱的去处：新彩电、大沙发，剩下的存作买房首付……与父母离别的悲伤淡去，对新生活的期待在她心中逐渐燃起。
                        <br>
                    </p>
                    <p class="text-2">
                        赵文淑是徐州沛县的一名小学教师，她与家人对于彩礼始终保持随和的态度，在他们心中，三观一致与相互支持才是婚姻的强心剂。但这份淡然与期待却并不多见，彩礼本扎根于中华传统文化，但随着社会的转型与思想的解放，处于新旧夹缝中的彩礼引发出一系列讨论。
                    </p>
                    <p class="text-2">
                        钱谁来付？为何而付？为谁而付？一系列问题困扰着对爱情充满向往的年轻人。
                    </p>

                </div>

                </p>
            </div>
        </div>

        <div class="part1" style="height: 200vh;flex-direction: column;">
            <div class="text-view">
                <p class="text-2">
                    但这份淡然与期待却并不多见：从金额来看，彩礼数额的商定多会参考当地习俗、双方情况，更图一个“吉利”数字如6.66万、8.88万；从谈判方式看，彩礼的决定往往汇集了双方本人、父母甚至近亲的态度，有时还需要相熟的中间人周旋传话。而谈判常常也会贯穿备婚期间，长期的意见不同一也可能导致婚礼时间的延迟、甚至是感情的破裂``````<br>
                </p>
                <p class="text-2">
                    彩礼本扎根于中华文化，以一种约定俗成的习俗被代代相传。但随着社会的转型与思想的解放，处于新旧夹缝中的彩礼被推上了风口浪尖，不管在现实生活还是网络讨论中均引发了巨大的矛盾。<br>
                </p>
            </div>
            <div id="" style="height: 100vh;width: 60vw;"></div>
        </div>
    </article>

    <!-- 第一部分 -->
    <div class="part-One"> <!--这里可以换图-->
        <div id="hd1" class="hd1">
            <div class="part1-background">
            </div>
        </div>
    </div>

    <article id="part-One">
        <div class="part2 text-background"> <!--为了保证图片的一致性，这里建议都用一个class类-->
            <div class="text-view">
                <p class="text-2">
                    百基拉点开视频通话的接受按钮，向对面的准婆婆问好，并介绍坐在身边的自己父母。她和男友亚居拉在深圳相识相恋，一年后决定踏入婚姻殿堂。他们分别来自甘肃和贵州，百基拉的父母在深圳工作定居，亚居拉的母亲还在甘肃家中。双方见面机会不多，因此两家关于结婚和彩礼的沟通大多通过线上视频通话进行。
                </p>
                <br>
                <p class="text-2">
                    尽管相距甚远，但双方拥有共同的价值观，在有关金钱的话题上也相对开明。再加上百基拉和亚居拉努力牵起沟通的桥梁，让两个家庭的彩礼协商十分顺利，很快定下了亚居拉所能承受，父母们也都满意的8万8千元彩礼数额。
                </p>
            </div>
        </div>
        <div class="part2 text-background"> <!--为了保证图片的一致性，这里建议都用一个class类-->
            <div class="text-view">
                <p class="text-2">
                    而在思想相对传统的徐州农村，订婚家庭的彩礼数目通常不是一个能够开诚布公讨论的话题，因为与“未来的亲家”“明码标价”地谈钱被认为是“伤感情”的。大部分家庭会找亲戚朋友作为“中间人”传话沟通，最终确定彩礼数额。
                </p>
                <p class="text-2">
                    尽管如此，徐州当地的彩礼始终有着“基准价”。城区的彩礼数目由本世纪初的1万1千元或3万3千元附加房、车和首饰，上涨到最近的10万以上；而农村地区彩礼数目一直高于城区，从早年的6万6千元或8万8千元加房和首饰，涨到了18万8千元。赵文淑收到的彩礼数额为最基准的1万1千元，她与家人并不计较其金额的多少，为此还曾被周围不少人看作“傻”。
                </p>
                <br>
                <p class="text-2">
                    《仪礼》曰：“昏有六礼，纳采、问名、纳吉、纳征、请期、亲迎。”西周创立了“婚姻六礼”传统习俗并未历代所沿袭。费孝通先生则曾将彩礼定义为“男方家对女方家劳动力丧失的一种经济补偿。”社会学领域认为，男方用彩礼从女方家庭中“买走”女方，补偿她在生育、劳作中的付出。
                </p>
                <br>

            </div>
        </div>
        <!-- 这里是三金 -->
        <div class="part2">
            <div class="data">
                <!-- 这里放数据 -->
            </div>
            <!-- 第一张行内文字加图片 -->
            <div class="img1">
                <div class="img1-img1">
                    <img src="images/无色的三样裁剪.png" alt="金三样" width="100%" class="three">

                </div>
                <div class="text-img1">
                    <div class="text-img1-data">
                        <p class="text-2">
                            而随着现代社会的发展，婚姻的礼俗不断变化，彩礼作为习俗之一流传下来的同时也衍生出其他的规则。彩礼由单纯的钱财，增添出房、车与三金等其他内容。在赵文淑所在的徐州，男方还需在此基础上赠给女方一样极具现代化意味的物件——最新款的手机。
                        </p>
                    </div>
                    <div id="composition" class="text-img1-data" style="width: 30vw; height: 40vh;">
                    </div>

                </div>
            </div>
        </div>
        <!-- 这里是老三样 -->
        <div class="part2">
            <!-- 第一张行内文字加图片 -->
            <div class="img1">

                <div class="text-img1">
                    <p class="text-2">
                        几十年前，百基拉的父母结婚时的仪式十分简单，他们没有准备彩礼，只是回到老家修缮了老房子和拍照领证。亚居拉的父母则在甘肃老家举行婚礼，父亲提供房屋，母亲带来首饰作为嫁妆。比起彩礼，当时更流行找木匠打制一套家具，再加上黑白电视、自行车、缝纫机这“三大件”。
                    </p>
                </div>
                <div class="img1-img1">
                    <img src="images/老三样.png" alt="" width="80%">
                </div>
            </div>
        </div>
        <!-- 这里是新三样 -->
        <div class="part2">
            <!-- 第一张行内文字加图片 -->
            <div class="img1">
                <div class="img1-img1">
                    <img src="images/新三样.png" alt="" width="80%">
                </div>
                <div class="text-img1">
                    <p class="text-2">
                        而百基拉和亚居拉预备订婚时虽选择了简约实惠的原则，但上万的彩礼、精挑细选的三金却一样不少。二人一同逛遍了深圳水贝黄金交易市场，挑选出价格较为低廉可格外精美的金饰。尽管象征永恒之爱的钻戒在他们看来不是必需品，亚居拉还是为了制造惊喜而悄悄购入钻戒。购置钻戒与三金一共花费了一万元。“我会衡量我们的经济状况。”亚居拉说，但在房价、物价不断攀升，彩礼也“水涨船高”的大环境下，他也会心甘情愿地付出。
                    </p>
                </div>
            </div>
        </div>
        <!-- 这里是人口性别比例统计图 -->
        <div class="part2" style="height: 200vh;flex-direction: column;">

            <!-- 数据集 -->
            <div class="text-view">
                <p class="text-2">
                    时代的进步重塑了彩礼的载体，经济的发展也左右着彩礼数额的天平。赵文淑总结身边的案例发现，人均收入偏低的农村彩礼数却普遍高于相对发达的城镇。这是因为随着城乡差距的扩大，越来越多农村的年轻女性选择离开故土、摆脱传统的固定角色，到城市中寻觅更广阔的发展空间，致使农村中女性资源比城市更为珍稀。
                </p>
                <br>
                <p class="text-2">
                    公职人员石头在江西九江进行彩礼调查时发现，调研样本多、范围大，彩礼问题的求证十分困难。加之彩礼话题敏感，很多乡村害怕负面影响，面对官方调查时刻意要求居民低报。也有部分居民会存在虚荣而高报彩礼，降低了调研的真实性和客观性。
                </p>
            </div>
            <div id="people" style="height: 100vh;width: 60vw;"></div>
        </div>

        <!-- 
        <div class="part2">
            <div class="text-view">
                <p class="text-1">这里也放文字</p>
            </div>
        </div> -->
    </article>

    <div class="part-Two"> <!--这里可以换图-->
        <div id="hd2" class="hd2">
            <div>
            </div>
        </div>
    </div>

    <article id="part-Two">
        <div class="part3 text-background"> <!--为了保证图片的一致性，这里建议都用一个class类-->
            <div class="text-background">
                <div class="text-view">
                    <p class="text-2">
                        赵文淑身穿曳地的洁白婚纱，穿过庭院里无数亲朋满座的喜酒桌来到新郎家中。大红色的桌布、地毯和地上散落的爆竹碎屑与礼服白纱形成鲜明对比，背景音乐也并非是《婚礼进行曲》，而是乡村喇叭队热情非凡的吹吹打打。中式和西式、传统与现代的碰撞，构成了她在徐州的婚礼景象。<br>
                    </p>
                    <br>
                    <p class="text-2">
                        她的婚礼包含同时进行的两场，女方家庭在城区举办婚礼，赵文淑则留在农村与丈夫一同参加男方婚礼。婚礼前一天，他们请了表演的喇叭乐队进娘家，第二天正式举办西式婚礼的仪式与宴席，交换戒指之后，新婚夫妻穿梭在圆桌间向宾客敬酒，道贺声与酒杯碰撞声一同响起。<br>
                    </p>
                    <br>
                    <p class="text-2">
                        赵文淑认为，婚礼就像是为新家庭进行筹款。除了大额的彩礼之外，婚礼中收到的“份子钱”也一般不是小数目。在一些富裕的家庭中，一次婚姻中新婚夫妻的收获甚至可能高达几百万元，婚姻是“挺挣钱的”。<br>
                    </p>
                </div>
            </div>

        </div>
        <div class="part3">
            <div class="text-img1">
                <p class="text-2">
                    百基拉和亚居拉举办的婚礼由教会的兄弟姊妹帮忙操办，规模不大，总共花费一万五左右，基本由亚居拉承担。婚后，百基拉父母又送来1万2千元，与先前男方出的彩礼一同凑成十万元，留作新婚家庭的“第一桶金”。
                </p>
                <br>
                <p class="text-2">
                    在古代习俗中，彩礼大多交由女方家庭，而现在的彩礼则更多地会交给女方本人或新婚家庭。石头的彩礼调研显示，彩礼留给新婚家庭的情况占调研总数七成；归属女方父母的情况占两成；而单独交给女方的情况比较罕见，占比不到一成。用途大多为新婚家庭用来买房或车；也有作为女方父母存款，或经由女方父母之手后，又以嫁妆的形式流入新家庭存款。
                </p>
            </div>
            <div id="belong" class="data" style="width: 40vw; height: 50vh;">
                <p class="text-2">
                    这里有个彩礼归属数据
                </p>
            </div>
        </div>

        <div class="part3">
            <div class="background1">
                <div class="text-view">
                    <p class="text-2">
                        成婚后，百基拉和亚居拉希望靠自己的能力搭建新家。深圳房价高但交通便利，因此夫妻俩决定暂时不买车，并租房居住。二人一起布置新房的过程中，双方父母也积极支持，帮他们购置家具，百基拉的父母还为他们购买了一台一万元左右的冰箱。
                    </p>
                    <p class="text-2">
                        和她父母曾经的婚后安排一样，百基拉是新家庭经济方面的主理人，她与丈夫通过在网上的进一步挑选与购买，将原本比较老旧的房间布置得简洁而美观。至于房租费用，二人没有太过细分其中归属。亚居拉坚持道：
                    </p>
                </div>
            </div>
        </div>

        <div class="part3">
            <div class="text-view">
                <p class="text-2">
                    从另一个角度看，彩礼除了表示男方对女方家庭的重视和尊重，代表着男方的礼仪水平外，也成为了新家庭的启动资金。百基拉和亚居拉计划着将收到的彩礼用作买车买房和养育孩子等大额支出的经济支持。“它已经成为了我们总家庭资产的其中一部分”。
                </p>
            </div>
        </div>
    </article>

    <div class="part-Three"> <!--这里可以换图-->
        <div id="hd3" class="hd3">
            <div>
            </div>
        </div>
    </div>

    <article id="part-Three">
        <!-- 这里有个PPT -->
        <div class="part4">
            <div class="text-view">
                <p class="text-2">
                    “爱情是婚姻产生的原因，但绝对不足以维系它。结了婚后感情是会慢慢消失的。”
                </p>
                <p class="text-2">
                    赵文淑虽对彩礼要求不高，但她并不否认彩礼的重要性。她认为能够维系长久婚姻的，除了亲情和法律之外，最重要的是物质保障。少了这层保障，所谓花前月下不过是虚无缥缈的存在：
                </p>
                <p class="text-2">
                    “你没有钱，光谈爱情，怎么去生活？根本就不可能。”
                </p>
            </div>
        </div>
        <!-- 这里是各地案例大地图 -->
        <div class="part4" style="height: 200vh;flex-direction: column;">
            <div class="text-view">
                <p class="text-2">
                    但原本作为经济保障的彩礼，其攀升的数额却可能先成为婚姻的“绊脚石”。据赵文淑，在徐州农村，高价彩礼与低收入的矛盾会导致部分家庭借钱出彩礼、租房结婚的现象，进而引发一系列矛盾冲突。百基拉江浙地区的朋友就有过类似经历：情侣二人感情很好，男方家庭是个体小商户，但女方家长提出了较高的彩礼。婚姻的成本超出了他们的支付能力，他因此和妻子产生了不少矛盾，两家人之间甚至“差点闹分”。
                </p>
                <br>
                <p class="text-2">
                    然而，有物质支撑的婚姻生活也难免出现纷争。当婚姻关系面临破裂的风险，彩礼作为具有财产性质的事物，往往会成为双方“争夺”的焦点。协商未果的双方往往最终选择走向法院。登录聚法案例网以“彩礼”为关键词搜索可以发现，相关案例高达18.67万条。彩礼法的应用影响着数以十万计的家庭。
                </p>
            </div>
            <div id="law" style="height: 100vh;width: 60vw;"></div>
        </div>
        <!-- 这里是彩礼与收入对比的数据 -->
        <div class="part4">
            <div id="return" style="height: 50vh; width: 50vw;"></div>
            <div class="text-view" style="width: 30vw;">
                <p class="text-2">
                    根据相关调研，在当前相关纠纷中，彩礼价值通常是个人可支配年收入的 3——10 倍以上，凝聚着男方巨大的精神与物质寄托，判决结果对双方都颇为重要。
                </p>
            </div>

            <div id="revenue" style="height: 50vh; width: 50vw;"></div>
        </div>
        <!-- 这里是法律内容示意图 -->
        <div class="part4">
            <div class="text-view">
                <p class="text-2">
                    然而，当下彩礼法律与司法解释过于笼统。目前提及彩礼问题的法律规定仅有最高人民法院关于适用《中华人民共和国民法典》婚姻家庭编的解释，其中第五条提出，当事人请求返还按照习俗给付的彩礼的，如果查明属于以下情形，人民法院应当予以支持：
                </p>
            </div>
        </div>
        <div class="part4">
            <div class="text-view">
                <p class="text-2">
                    根据相关调研，彩礼返还案件还频频出现法官自由裁量权过大的情况。由于彩礼范围、返还主体、返还情形、返还数额难以把握，即使是在有着相同习俗的一片地区内，都容易造成“类案不同判”的情形，使得上诉、信访屡屡出现。
                </p>
            </div>
        </div>
        <!-- 这里是在上一页划来划去的动效 -->
        <div class="part4" style="height: 200vh;">
            <div class="background2">
                <div class="text-view">
                    <p class="text-2">
                        文化人类学教授阎云翔通过梳理家庭关系的变化发现：当下家庭关系正在重构，传统纵向的代际关系向横向的夫妻关系转变。彩礼的意义不仅包含男女双方的感情缔约，还隐含了家庭代际之间财富的传递。在家庭模式的蜕变尚未完成的时刻，彩礼问题的合理解决更凝聚了两代人的期待。
                    </p>
                </div>
                <div class="text-view">
                    <p class="text-2">
                        国家法官学院胡云红教授在年度研究课题中表示：当前的彩礼返还纠纷判责应得到细化，不仅需根据习俗属性、给付属性、针对属性和金额属性明确彩礼的范围，让彩礼法覆盖到彩礼交易的实际参与者；同时也需细化法律规定，并根据不同情形确定返还金额，同时适度降低彩礼使用的证明难度。
                    </p>
                </div>
            </div>
        </div>
        <div class="part4">
            <div class="text-view">
                <p class="text-2">
                    “我教的每个班级里，都有不少孩子的父母离婚了。”法律的不明确仅仅是彩礼纠纷的冰山一角。赵文淑透视身边许多的彩礼纷争，看到的是一个个已然崩溃或即将破裂的家庭。由于一些家庭中父亲几乎完全缺位，柴米油盐和孩子的哭闹“理所应当”地落在母亲的肩膀上，责任的失衡便催生出夫妻之间的各种矛盾，争吵一步步地从家庭转移到了法庭。
                </p>
                <p class="text-2">
                    亚居拉认为婚姻生活本质上是价值观的磨合：“不是说丢掉自己，而是放下一些自我中心，把两个人的关系摆在自己的前面。”百基拉也会在社交软件上分享许多婚姻中的感悟，她写道：“一段好的婚姻，必然是彼此消磨掉各自的尖锐和戾气，不断地妥协迁就，继而变成更好的我们。”
                </p>
            </div>
        </div>
    </article>

    <div class="part-Four"> <!--这里可以换图-->
        <div id="hd4" class="hd4">
            <div>
            </div>
        </div>
    </div>

    <article id="part-Four">
        <div class="part5">
            <div class="text-view">
                <p class="text-2">
                    正如在赵文淑的婚礼上西式白婚纱与乡村喇叭队的共存，当代婚姻也仿佛一个融合了乡土风俗和现代思想的容器。关于彩礼的争议，也很大程度上源于传统与现代在性别、经济、婚姻观念上的碰撞。
                </p>
                <br>
                <p class="text-2">
                    对于赵文淑，彩礼的内核仍沿袭自传统。“徐州的女孩嫁到外地去，相当于她就归人家了”，婚后女方不仅很少有机会回娘家，后代大多也要随男方姓。因此彩礼是男方家庭必须付出的心意。
                </p>
                <br>
                <p class="text-2">
                    虽然感觉彩礼有些重男轻女的意味，但作为母亲，赵文淑仍希望未来的女婿能通过一定的彩礼数目表达尊敬和重视。或许是出于同种心理，她身边的许多人会在此方面进行攀比。在县城中，一旦发生婚姻大事，男方出了多少彩礼、婚宴排场如何等信息便会在邻里间快速传播，彩礼的数额不仅成为支撑女方家庭颜面的关键，亦是自家女儿足够优秀的证明：“你家能要那么多彩礼，为什么我家的就那么少？”
                </p>
                <br>
                <p class="text-2">
                    “嫁出去的女儿泼出去的水”仍是不少家庭在考虑彩礼问题时的基础观念。在赵文淑的观点中，这种思想不仅很难改变，在未来也很可能长久地延续。石头也在研究中发现，九江政府曾为移风易俗组织“零彩礼”结婚活动，最后却因无人响应而不了了之。面对这种情况，他认为相关工作需要结合实际循序渐进地推进，为了追求形式而急于求成并不会有太好的效果。
                </p>
            </div>
        </div>
        <!-- 这里是民意部分加词云 -->
        <div class="part5">
            <div class="text-view">
                <p class="text-2">
                    相比于传统风俗中彩礼带有的补偿意味，现代年轻人更愿意把它的作用划入精神价值一类。亚居拉认为，重要的不是彩礼，而是背后的心意，具体数额只需量力而行。百基拉也更看重彩礼为婚姻带来的安定感，“它的意义最主要在看男方（是否）真的愿意舍下钱财，去给女方安全感。”
                </p>
            </div>
        </div>
        <!-- 这里有PPT -->
        <div class="part5">
            <div class="text-view">
                <p class="text-2">
                    在现代化正处于进行时的中国，传统与现代交界处的种种事物都经历着漫长且艰难的蜕变，彩礼也不例外。对于近来大众在彩礼问题上的争议与对立，亚居拉、百基拉和赵文淑不约而同地提到了“价值观”。
                </p>
                <p class="text-2">
                    一个家庭在时代中形成的价值观极大地影响了他们在彩礼方面的看法与选择。赵文淑认为，更关注金钱和利益的家庭会把彩礼看得很重，而她自己则更重视个人的发展与孩子的成长，并不会把彩礼作为婚姻中的头等大事。
                </p>
            </div>
        </div>

        <div class="part5">
            <div class="data">
                民意部分的数据图
            </div>
            <div class="text-view">
                <p class="text-2">
                    彩礼带来的冲突很大程度上聚焦在利益方面，在亚居拉看来，只有两家人三观一致，才能避免在爱情与利益的权衡中产生不可调和的争执。而他之所以能与百基拉走在一起，本质上是因为他们的家庭都看重真情胜过形式、排场和利益。“小而美”，正是他们对婚姻的追求。
                </p>
                <p class="text-2">
                    在和气平稳地谈妥彩礼事宜之后，亚居拉和百基拉的求婚仪式也贯彻了“小而美”的标准。亚居拉在朋友们的筹划和帮助下，用不到一千元的价格包下一家ins风韩餐厅的二楼。在百基拉的笑声中，大家拍照、聊天、享受美食，最后亚居拉为未来的妻子戴上作为惊喜出现的，不算昂贵却格外闪耀的钻戒和首饰。温馨与感动之际，两人也初次体会到健康的婚姻所带来的幸福。
                </p>
            </div>
        </div>
        <div class="part5" style="height: 250vh;">
            <div class="text-view" style="max-height: 350vh; max-width: 55vw;">
                <img src="images/结尾.png" alt="" width="100%">
                <p class="text-2" style="align-self: center;">
                    “看中爱，比看中利益更大，才能有美好的结果。”
                </p>
            </div>
        </div>
    </article>

    <script src="js/index.js"></script>
    <script src="js/sticksy.js"></script>
    <script>
        window.onscroll = function () {
            let scrollH = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
            console.log(scrollH)

            showTitle(scrollH)
            showthat(scrollH)
        }
    </script>

    <!-- 南丁格尔图 -->
    <script type="text/javascript">
        var composition = echarts.init(document.getElementById('composition'), 'essos');

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '彩礼构成示意图',
                textStyle: {
                    fontSize: 30,
                    color: '#ffffff',
                },
            },
            tooltip: {},

            legend: {
                // Try 'horizontal'
                orient: 'hotizontal',
                right: 10,
                top: 10,
            },

            color: [
                "#d95850",
                '#EDCB96',
                '#F7C4A5',
                "#eb8146",
                "#ffb248",
                "#f2d643",
                "#ebdba4"
            ],

            series: [
                {
                    type: 'pie',
                    data: [
                        {
                            value: 74.3,
                            name: '首饰'
                        },
                        {
                            value: 44,
                            name: '房产'
                        },
                        {
                            value: 41.2,
                            name: '烟酒'
                        },
                        {
                            value: 37.6,
                            name: '车'
                        },
                        {
                            value: 34.9,
                            name: '家电'
                        },
                        {
                            value: 34.8,
                            name: '家具'
                        },
                        {
                            value: 9.7,
                            name: '其他'
                        },
                    ],
                    roseType: 'area'
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        composition.setOption(option);
    </script>

    <!-- 柱状图 -->
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        // 假设主题名称是 "vintage"
        var myChart = echarts.init(document.getElementById('belong'), 'essos');

        // 指定图表的配置项和数据
        var option = {
            color: [
                '#EDCB96',
                '#F7C4A5'
            ],

            title: {
                text: '彩礼主体'
            },
            tooltip: {},
            legend: {
                // Try 'horizontal'
                orient: 'hotizontal',
                right: "center",
                top: 10,
            },
            xAxis: {
                data: ['本人', '父母', '兄弟姐妹', '其他']
            },
            yAxis: {
                type: 'value',
                name: '数量百分比',
                axisLabel: {
                    formatter: '{value} %'
                },
            },
            series: [
                {
                    name: '支付彩礼主体',
                    type: 'bar',
                    data: [58.86, 99.37, 9.49, 7.59],
                    emphasis: {
                        focus: 'series',
                        itemStyle: {
                            // 高亮时点的颜色。
                        },
                    },
                },
                {
                    name: '接受彩礼主体',
                    type: 'bar',
                    data: [67.72, 90.51, 8.23, 3.16],
                    emphasis: {
                        focus: 'series',
                        itemStyle: {
                            // 高亮时点的颜色。
                        },
                    },
                },
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

    <!-- 各地案例 -->
    <script>
        let mylaw = echarts.init(document.getElementById('law'), 'essos')
        // $.get('js/china.json', function (chinaJson) {
        //     echarts.registerMap('chinaMap', chinaJson)
        //     let option = {
        //     geo:{
        //         type: 'map',
        //         map: 'chinaMap'
        //     }
        // }
        // myChart.setOption(option)
        // })

        let data = [
            { name: '河南省', value: 34125 },
            { name: '甘肃省', value: 15829 },
            { name: '安徽省', value: 15339 },
            { name: '河北省', value: 14120 },
            { name: '山东省', value: 12903 },
            { name: '陕西省', value: 9941 },
            { name: '江苏省', value: 9248 },
            { name: '山西省', value: 8394 },
            { name: '江西省', value: 6517 },
            { name: '湖南省', value: 5881 },
            { name: '吉林省', value: 5733 },
            { name: '辽宁省', value: 5677 },
            { name: '浙江省', value: 4375 },
            { name: '湖北省', value: 4150 },
            { name: '福建省', value: 3965 },
            { name: '贵州省', value: 3791 },
            { name: '内蒙古自治区', value: 3689 },
            { name: '四川省', value: 3320 },
            { name: '黑龙江省', value: 3042 },
            { name: '宁夏回族自治区', value: 2907 },
            { name: '云南省', value: 2393 },
            { name: '青海省', value: 2362 },
            { name: '重庆市', value: 1500 },
            { name: '广西壮族自治区', value: 1444 },
            { name: '广东省', value: 1424 },
            { name: '上海市', value: 1321 },
            { name: '北京市', value: 1247 },
            { name: '天津市', value: 1167 },
            { name: '新疆维吾尔自治区', value: 369 },
            { name: '海南省', value: 95 },
            { name: '西藏自治区', value: 23 },
        ];

        echarts.registerMap('chinaMap', chinaDate)
        let lawoption = {
            title: {
                text: '各地区彩礼纠纷案件数'
            },
            tooltip: {
                show: true,
            },
            series: {
                type: 'map',
                name: '各地区彩礼纠纷案件数',
                map: 'chinaMap',
                data: data,

                visualMap: {
                    type: 'continuous',
                    left: 'right',
                    min: 500000,
                    max: 38000000,
                    inRange: {
                        // prettier-ignore
                        color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                    },
                    text: ['High', 'Low'],
                    calculable: true
                },

                roam: true, //允许拖动

                label: {
                    show: true, //展示名称
                },

                selectedMode: 'single',
                zoom: 1,     //设置初始缩放比例
                // center: [] 设置初始中心

                labelLayout: {
                    hideOverlap: true,
                },
                emphasis: {
                    label: {
                        show: true,
                    }
                },

            }
        }
        mylaw.setOption(lawoption)
    </script>

    <!-- 彩礼收入 -->
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        // 假设主题名称是 "vintage"
        var myrevenue = echarts.init(document.getElementById('revenue'), 'essos');

        // 指定图表的配置项和数据
        let revenueoption = {
            title: {
                text: 'Waterfall Chart',
                subtext: 'Living Expenses in Shenzhen'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                },
                formatter: function (params) {
                    var tar = params[1];
                    return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                splitLine: { show: false },
                data: ['3000元以下', '3000-6000元', '6000-10000元', '10000-20000元', '20000-50000元', '50000-100000元', '100000元以上', '总计']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: 'Placeholder',
                    type: 'bar',
                    stack: 'Total',
                    itemStyle: {
                        borderColor: 'transparent',
                        color: 'transparent'
                    },
                    emphasis: {
                        itemStyle: {
                            borderColor: 'transparent',
                            color: 'transparent'
                        }
                    },
                    data: [0, 7.59, 27.84, 42.3 + 1.9, 58.76 + 1.9, 89.14 + 1.9, 95.47 + 1.9]
                },
                {
                    name: 'Life Cost',
                    type: 'bar',
                    stack: 'Total',
                    label: {
                        show: true,
                        position: 'inside'
                    },
                    data: [7.59, 20.25, 16.46, 16.46, 30.38, 6.33, 2.53, 100]
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myrevenue.setOption(revenueoption);
    </script>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        // 假设主题名称是 "vintage"
        var myset = echarts.init(document.getElementById('return'), 'essos');

        // 指定图表的配置项和数据
        let setoption = {
            title: {
                text: 'Waterfall Chart',
                subtext: 'Living Expenses in Shenzhen'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                },
                formatter: function (params) {
                    var tar = params[1];
                    return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                splitLine: { show: false },
                data: ['总计', '10000-50000元', '50000-150000元', '150000-250000元', '250000-500000元', '500000元以上']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: 'Placeholder',
                    type: 'bar',
                    stack: 'Total',
                    itemStyle: {
                        borderColor: 'transparent',
                        color: 'transparent'
                    },
                    emphasis: {
                        itemStyle: {
                            borderColor: 'transparent',
                            color: 'transparent'
                        }
                    },
                    data: [0, 1.27 + 0.63 + 22.15 + 68.99, 1.27 + 0.63 + 22.15, 1.27 + 0.63, 1.27, 0]
                },
                {
                    name: 'Life Cost',
                    type: 'bar',
                    stack: 'Total',
                    label: {
                        show: true,
                        position: 'inside'
                    },
                    data: [100, 6.96, 68.99, 22.15, 0.63, 1.27]
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myset.setOption(setoption);
    </script>

    <!-- 男女比例 -->
    <script>
        let mypeople = echarts.init(document.getElementById('people'), 'essos')
        // $.get('js/china.json', function (chinaJson) {
        //     echarts.registerMap('chinaMap', chinaJson)
        //     let option = {
        //     geo:{
        //         type: 'map',
        //         map: 'chinaMap'
        //     }
        // }
        // myChart.setOption(option)
        // })


        let data1 = [
            { name: '北京市', men1: 1488424, women1: 1238238, radio1: 120.21, men2: 8937161, women2: 8814520, radio2: 101.39 },
            { name: '天津市', men1: 1098351, women1: 1023218, radio1: 107.34, men2: 5610161, women2: 5322931, radio2: 105.4 },
            { name: '河北省', men1: 15207373, women1: 14586376, radio1: 104.26, men2: 11010407, women2: 11119188, radio2: 99.02 },
            { name: '山西省', men1: 6855573, women1: 6228549, radio1: 110.07, men2: 6588788, women2: 6608849, radio2: 99.7 },
            { name: '内蒙古自治区', men1: 4136772, women1: 3684908, radio1: 112.26, men2: 4714495, women2: 4731924, radio2: 99.63 },
            { name: '辽宁省', men1: 6070813, women1: 5794618, radio1: 104.77, men2: 12626419, women2: 12946058, radio2: 97.53 },
            { name: '吉林省', men1: 4629137, women1: 4365302, radio1: 106.04, men2: 5028946, women2: 5262757, radio2: 95.56 },
            { name: '黑龙江省', men1: 5640170, women1: 5312224, radio1: 106.17, men2: 7113464, women2: 7325934, radio2: 97.1 },
            { name: '上海市', men1: 1508990, women1: 1152525, radio1: 130.93, men2: 10113562, women2: 9759518, radio2: 103.63 },
            { name: '江苏省', men1: 11510786, women1: 10994847, radio1: 104.69, men2: 20382260, women2: 19887007, radio2: 102.49 },
            { name: '浙江省', men1: 9445605, women1: 8523518, radio1: 110.82, men2: 17165183, women2: 15918609, radio2: 107.83 },
            { name: '安徽省', men1: 13208668, women1: 12223400, radio1: 108.06, men2: 8142601, women2: 8186486, radio2: 99.46 },
            { name: '福建省', men1: 6827964, women1: 6154875, radio1: 110.94, men2: 8780310, women2: 8324713, radio2: 105.47 },
            { name: '江西省', men1: 9366260, women1: 8511764, radio1: 110.04, men2: 6906564, women2: 6653511, radio2: 103.8 },
            { name: '山东省', men1: 19083645, women1: 18429554, radio1: 103.55, men2: 19843195, women2: 19613780, radio2: 101.17 },
            { name: '河南省', men1: 22202937, women1: 22084028, radio1: 100.54, men2: 12913127, women2: 13060088, radio2: 98.87 },
            { name: '湖北省', men1: 11290985, women1: 10141198, radio1: 111.34, men2: 12494860, women2: 12162561, radio2: 102.73 },
            { name: '湖南省', men1: 14281054, women1: 13117634, radio1: 108.87, men2: 9472504, women2: 9444165, radio2: 100.3 },
            { name: '广东省', men1: 17163861, women1: 15412577, radio1: 111.36, men2: 40817255, women2: 35570404, radio2: 114.75 },
            { name: '广西省', men1: 12119132, women1: 10836716, radio1: 111.83, men2: 7458144, women2: 7329836, radio2: 101.75 },
            { name: '海南省', men1: 2155432, women1: 1849819, radio1: 116.52, men2: 1967828, women2: 1793650, radio2: 109.71 },
            { name: '重庆市', men1: 5169776, women1: 4620355, radio1: 111.89, men2: 8083520, women2: 8260469, radio2: 97.86 },
            { name: '四川省', men1: 18870936, women1: 17338018, radio1: 108.84, men2: 15030432, women2: 15401247, radio2: 97.59 },
            { name: '贵州省', men1: 9397708, women1: 8668494, radio1: 108.41, men2: 5086734, women2: 5039391, radio2: 100.94 },
            { name: '云南省', men1: 12432456, women1: 11148257, radio1: 111.52, men2: 6236029, women2: 6119530, radio2: 101.9 },
            { name: '西藏自治区', men1: 1216478, women1: 1128179, radio1: 107.83, men2: 447902, women2: 387400, radio2: 115.62 },
            { name: '陕西省', men1: 7679000, women1: 7080269, radio1: 108.46, men2: 7925444, women2: 7730690, radio2: 102.52 },
            { name: '甘肃省', men1: 6146432, women1: 5806067, radio1: 105.86, men2: 3565095, women2: 3530086, radio2: 100.99 },
            { name: '青海省', men1: 1223114, women1: 1141480, radio1: 107.15, men2: 1081946, women2: 1042137, radio2: 103.82 },
            { name: '宁夏回族自治区', men1: 1323169, women1: 1200831, radio1: 110.19, men2: 1488244, women2: 1500345, radio2: 99.19 },
            { name: '新疆维吾尔族自治区', men1: 5844041, women1: 5394682, radio1: 108.33, men2: 4758895, women2: 4531596, radio2: 105.02 }
        ]

        var menDom1 = '<span style="width:10px;height:10px;margin-right:5px;background-color:#fff94f;border-radius:50%;display:inline-block;"></span>'
        var womenDom = '<span style="width:10px;height:10px;margin-right:5px;background-color:#F7C4A5;border-radius:50%;display:inline-block;"></span>'
        var menDom = '<span style="width:10px;height:10px;margin-right:5px;background-color:#d95850;border-radius:50%;display:inline-block;"></span>'
        var huaweiDom = '<span style="width:10px;height:10px;margin-right:5px;background-color:#f00;border-radius:50%;display:inline-block;"></span>'
        let radio = '<span style="font-weight:bolder;">性别比：</span>'

        echarts.registerMap('chinaMap', chinaDate)
        let peopleoption = {
            title: {
                text: '城镇乡村男女比例'
            },
            tooltip: {
                show: true,
                trigger: 'item'
            },
            series: {
                type: 'map',
                name: '城镇乡村男女比例',
                map: 'chinaMap',
                data: data1,

                itemStyle: {
                    // 设置外层边框
                },

                tooltip: {
                    triggerOn: 'mousemove',
                    // 处理悬浮提示
                    formatter: (params) => {
                        return (
                            params.data.name + '<br/>' +
                            '乡村' + '<br/>' +
                            menDom + '男性：' + params.data.men1 + '<br/>' +
                            womenDom + '女性：' + params.data.women1 + '<br/>' +
                            radio + params.data.radio1 + '<br/>' +
                            '<br/>' +
                            '城镇' + '<br/>' +
                            menDom + '男性：' + params.data.men2 + '<br/>' +
                            womenDom + '女性：' + params.data.women2 + '<br/>' +
                            radio + params.data.radio2 + '<br/>'
                        )
                    }
                },
                visualMap: {
                    type: 'continuous',
                    left: 'right',
                    min: 500000,
                    max: 38000000,
                    inRange: {
                        // prettier-ignore
                        color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                    },
                    text: ['High', 'Low'],
                    calculable: true
                },

                roam: true, //允许拖动

                label: {
                    show: true, //展示名称
                },

                selectedMode: 'single',
                zoom: 1,     //设置初始缩放比例
                // center: [] 设置初始中心

                labelLayout: {
                    hideOverlap: true,
                },
                emphasis: {
                    label: {
                        show: true,
                    }
                },

            }
        }
        mypeople.setOption(peopleoption)
    </script>
</body>

</html>
